extends page.pug

block content
  .columns.my-0.content
    .column.is-one-quarter.px-0.py-0.navslider#nav(class={'conditionalClose': startsClosed})
      each link in links 
        - let [name, url, spiel, icon] = link
          .box.navlinks.mb-1(class={'is-active': page === name})
            a(href=url)
              .columns.is-mobile.each-link 
                .column.is-narrow.desktop-only
                  i.is-size-3.is-size-5-mobile(class=[icon])
                .column.nav-text
                  p.is-size-4.is-size-5-mobile #{name}
                  p.is-size-small.has-text-gray.spiel #{spiel}
    .column.px-0.py-0.webcontainer.has-background-light
      //everything else here
      block page 
