extends page.pug

block content
  .columns.my-0
    .column.is-one-quarter.px-0.py-0.navslider#nav
      each link in links 
        - let [name, url, spiel, icon] = link
          .box.navlinks.mb-1(class={'is-active': page === name})
            a(href=url)
              .columns.is-mobile
                .column.is-narrow
                  i.is-size-3(class=[icon])
                .column
                  p.is-size-4 #{name}
                  p.is-size-small.has-text-gray #{spiel}
    .column.px-0.py-0.webcontainer
      //everything else here
      block page 
