extends page.pug

block content
  .columns
    .column.is-one-fifth.has-background-warning.conditionalClose#nav
      //navigation here
      p Hi there, I'm the navigation
    .column
      //everything else here
      block page 
