footer.footer.has-background-dark
  script(src='/scripts/main.js')
  content.has-text-centered.has-text-light
    .foot-c
      p © #{new Date().getFullYear()} #{companyName}. All rights reserved.
      a(href="mailto: gogreenbubble@gmail.com" class="footer-link") gogreenbubble@gmail.com
    
