nav.navbar(role='navigation', aria-label='main navigation')
  .burger.px-2#burger
    p.is-size-1 X
  .name
    a.is-flex.py-3.px-3.is-align-content-center(href='/')
      img.image.is-48x48(src='/images/logo.svg', alt='Brand Logo')
      h1.title.pt-1 &nbsp#{title}
