header
  .columns.is-mobile.fullheader
    .column.is-1.burger-container.is-flex.is-align-content-center
      .burger.px-2.is-flex#burger
        i.is-size-3.flip-burger.has-text-centered.fas.fa-bars
    .column.is-6.is-offset-2.is-centered.is-flex.is-align-content-center.cond-pat
      .name
        a.py-3(href='/').is-flex.is-flex-wrap-nowrap.is-justify-content-center
          img.pt-0.image.is-48x48(src='/images/logo.svg', alt='Brand Logo')
          h1.title.is-4.py-2.has-text-centered.has-text-dark.has-text-weight-medium &nbsp#{title}
