extends basicPage.pug

block prepend header
  - let page = "Learning";
  //- let startsClosed = false;

block page 
  .page-container.has-background-light.mx-0.pb-6
    .l-links-container.pt-5.desktop-only
      each point in thesis
        - let [chicken, url] = point
        - let path = "/learning" + url
        a.link(href=path, class={'is-current-point': chicken === header})
          p.thesis-links #{chicken}
    //navigationy stuff here 
    block thesis
    
