@charset 'utf-8'

// SET 4 PALETTE COLORS LIKE THIS:
// $palette-light: #EEE
// $palette-mid: #666
// $palette-dull: #444
// $palette-dark: #111

// SET USABLE CUSTOM COLORS LIKE THIS:
// $custom-colors: ('palette-light': $palette-light, 'palette-mid': $palette-mid, 'palette-dull': $palette-dull, 'palette-dark': $palette-dark)

//bright green
$primary: #0AF77C
//dark blue
$info: #2870d4
// footer
$dark: #404040
// index background gray
$light: #E8E8E8

$light-gray: #C6C6C6
//
  blue: #2870d4
  light gray: #C6C6C6
  dark gray: #3B3B3B
  darker gray: #2A2A2A
  bright green: #0AF77C

// IMPORT FONTS LIKE THIS:
@font-face
  font-family: 'Montserrat'
  font-style: normal
  font-weight: normal
  src: url('/fonts/Montserrat-Regular.ttf')


// TELL BULMA TO USE FONTS LIKE THIS (the rest of the list are Bulma's default fonts):
$family-sans-serif: 'Montserrat', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif

//NAV/HEADER STYLING
.name
  margin: auto

.conditionalOpen
  animation: slideOpen normal forwards ease-out
  animation-duration: 1s
  overflow: hidden

.conditionalClose
  animation: slideClosed normal forwards
  animation-duration: 1s
  overflow: hidden

.column.navslider.conditionalClose.hideMe
  display: none

.column.navslider
  background-color: #FBFBFB

@keyframes slideOpen
  from
    margin-left: -25%
    padding-right: 0
    padding-left: 0
  to
    margin-left: 0px

@keyframes slideClosed
  from
    margin-left: 0px
  to
    margin-left: -25%
    padding-right: 0
    padding-left: 0

p.flip-burger::after
  content: "☰"

.is-active p.flip-burger::after
  content: "✕"

//each link things
.box.navlinks a
  color: #3B3B3B

.box.navlinks i
  color: white
  background-color: $light-gray
  padding: 15px
  border-radius: 100px

.box.navlinks.is-active
  background-color: $info

.box.navlinks.is-active a
  color: white

.box.navlinks.is-active i
  color: $light-gray
  background-color: white

//onhover
.box.navlinks:hover
  background-color: $light-gray
  transition: .3s

.box.navlinks:hover a
  color: white
  transition: .3s

.box.navlinks:hover i
  color: $light-gray
  background-color: white
  transition: .3s

$box-shadow: 0 0.5em 1em -0.125em rgb(202 202 202 / 10%), 0 0px 0 1px rgba(10, 10, 10, 0.02)

.is-size-small
  font-size: .8rem

//footer
footer
  color: #939393

// USE BULMA~THIS:
// @import '~bulma/sass/utilities/_all.sass'

// @import '~bulma/sass/base/_all.sass'

// @import '~bulma/sass/elements/box.sass'
// @import '~bulma/sass/elements/button.sass'
// @import '~bulma/sass/elements/container.sass'
// @import '~bulma/sass/elements/content.sass'
// @import '~bulma/sass/elements/icon.sass'
// @import '~bulma/sass/elements/image.sass'
// @import '~bulma/sass/elements/other.sass'
// @import '~bulma/sass/elements/progress.sass'
// @import '~bulma/sass/elements/table.sass'
// @import '~bulma/sass/elements/title.sass'

// @import '~bulma/sass/form/_all.sass'

// @import '~bulma/sass/grid/_all.sass'

// @import '~bulma/sass/components/navbar.sass'
// @import '~bulma/sass/components/dropdown.sass'
// @import '~bulma/sass/components/media.sass'

// @import '~bulma/sass/layout/_all.sass'


// USE BULMA AS A WHOLE LIKE THIS (before production, switch to modular to reduce size)
@import '~bulma/bulma.sass'


// AFTER BULMA IS IMPORTED, USE BULMA VARIABLES LIKE THIS:
@media only screen and (max-width: $tablet)
  .reverse-order
    display: flex
    flex-direction: column-reverse
