extends /../templates/learn-nav.pug

block prepend header
  - let header = "Cyberostracism"

append thesis
  p.title.has-text-weight-bold.py-5.is-size-1.my-0.is-size-3-mobile #{header}
  section.columns
    .column 
      p In 2004, these cool experimental social psychologists, Anita Smith and Dr. Kipling D Williams, researched group chat exclusion. They used the Need-Threat model<a href="/bibliography.pug#18"><sup>18</sup></a> of ostracism, developed by Williams, to see if leaving someone out of a group chat is cyberostracism. In this model, Williams provides a definition for ostracism, describing the four fundamental needs that are threatened by ostracism. 
      br
      p These psychologists started by measuring how present each of the four needs were in the experiment participants. In their experiment, they made someone feel as if they’d been left out of a group chat, then measured those four needs again. They found out that being excluded from a group chat significantly lowers all four fundamental needs, qualifying as cyberostracism<a href="/bibliography.pug#23"><sup>23</sup></a>. 
    .column 
      aside.rectangle 
        .def.pb-3
          p.pt-0 #[strong Cyberostracism] (n)
          p #[em Exclusion/ostracism in a virtual environment]
        .needs.pb-3
          p #[strong Four needs are threatened by ostracism]
          li Need to belong
          li Need for self esteem
          li Need to control one's social environment
          li Need for meaningful existence
        .response
          p #[strong The victim responds in three ways:]
          ol
            li Immediate pain response
            li Compensation (trying to end their ostracism, often by conforming to society)
            li Acceptance and resignation, followed by feelings of depression and worthlessness
  .columns.is-flex.pt-4.mx-0.is-mobile
    .column.prev-button
      a(href="index.pug") <i class="fas fa-arrow-left"></i> Previous 
    .column.next-button
      a(href="iMessage.pug") Next <i class="fas fa-arrow-right"></i>
