extends /../templates/learn-nav.pug

block prepend header
  - let header = "iMessage"

append thesis
  p.title.has-text-weight-bold.py-5.is-size-1.my-0.is-size-2-mobile #{header}
  section.pb-4
    img.right-image(src="/images/imessage.svg").px-5.py-3
    p Quick recap, in case you forgot: when one iPhone texts another iPhone, the message bubbles are blue. When an iPhone texts an Android, the message bubbles are green. 
    br
    p Now, there are some things about Apple to Android messaging that Apple can’t change, like weird glitches and low quality images. But the color of the message bubble is something they have control over. Maybe you’re thinking, “Eh, it’s just green, how bad can it be?” Well, this particular shade of green actually makes texts more difficult to read. It comes down to a key concept in design: color contrast. 
    br
    p The text in all iMessages is white, so blue bubbles have white text on blue and green bubbles have white text on green. Web designers have come up with a way to quantify contrast, a number called a contrast ratio. The higher the number, the higher the contrast. If the contrast between the text color and the background color is very high, the text is very easy to read. The contrast ratio between the white text and green background is 2.2, while the contrast between the white text and blue background is 4.4. That means it’s about twice as hard to read texts from non-iPhone users as it is to read texts from iPhones.
  section 
    video.video.mx-4.my-3(controls, poster="/images/placeholder.jpg", src="/images/survey-video.mp4")
    p Take a look at the word "iMessage" in a green bubble at the top of the page. That's how a text from an Android looks. Now look at the side of the page, where it says "Learning" in a blue square. That's how a text from another iPhone looks. Which one would you rather read?
    br
    p As far as public opinion goes, people are agreed: These green bubbles are a good enough reason to leave people out. From Twitter to TikTok<a href="/bibliography.pug#15"><sup>16</sup></a>, people are outspoken about their disgust for green bubbles, and group chats with them. iMessage, by design, results in the ostracism of Android (non-iPhone) users.
    br
    p #[strong Still not convinced? We did the math. Watch the video above to learn about the numbers behind group chat exclusion.]
  .columns.is-flex.pt-5.mx-0.is-mobile
    .column.prev-button
      a(href="cyberostracism.pug") <i class="fas fa-arrow-left"></i> Previous 
    .column.next-button
      a(href="marketing.pug") Next <i class="fas fa-arrow-right"></i>
