extends templates/basicPage.pug

block prepend header
  - const page = "About";

block page
  section.section
    .container
      p.
        We are really boring people. Nothing interesting to see here.
