extends templates/basicPage.pug

block prepend header
  - let page = "Works Cited"

block page 
  .page-container.has-background-light.pb-4
    p.title.has-text-weight-bold.has-text-dark.py-5.is-size-1.my-0.is-size-2-mobile #{page}
    .sources 
      ol.is-size-7
        each source, index in bibliography
          li
            .py-2(id=index) #{source} 
              a.getUrl Back
  
