extends templates/basicPage.pug

block prepend header
  - const page = "Home";

block page
  .has-background-dark.carousel-container
    .owl-carousel#myCarousel
      each tweet in tweets
        - let [text, handle, source] = tweet;
        .tweet
          a.carousel-link(target="_blank", href=source)
            p #{text}
            p.has-text-warning.is-size-7 - #{handle}
  .page-container.has-background-light
    p.title.has-text-weight-bold.has-text-dark.has-text-centered.py-5.is-size-1.my-0 Bubble Trouble
    .pb-5.has-text-weight-normal
      p.pb-2 Picture this: there’s a group of friends, and one girl gets left out. What popped into your head? A middle school cafeteria, or a <em>Mean Girls</em> style squad walking down the hallway? What if I told you it’s as easy as making a group chat and neglecting to add someone?
      p News flash, in case you thought it was still 2007: exclusion isn’t as simple as it used to be. Group chats differ from face to face conversations because they’re facilitated by a messaging service. Take iMessage, for example. 83%<a href="bibliography.pug#9"><sup>10</sup></a> of teenagers have an iPhone, whose parent company is Apple, which means 83% of teenagers are using iMessage to communicate with each other. Yet iMessage doesn’t just control how teens communicate, it influences who they communicate with. Within the app, a text sent to an iPhone owner shows up blue, while a text sent to a non-iPhone shows up green. 
      p.is-size-5.is-italic.has-text-centered.py-5 But who would exclude someone just because their message bubble is green? 
      a(href='/learning/index.pug')
        img.image.learnmore-btn(src='images/learnmore.svg')

block append morescripts
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='/scripts/carousel.js')
  script(src='/styles/owl/owl.carousel.min.js')
