extends templates/learn-nav.pug

block prepend header
  - let header = "Marketing"
  
block append meta
  meta(name="description", content="A messaging app can be a marketing ploy.")

append thesis
  p.title.has-text-weight-bold.py-5.is-size-1.my-0.is-size-2-mobile #{header}
  section
    img.right-image.px-3(src="images/money.svg", alt="Woman in front of chart")
    p Remember, Apple is a for-profit company. If people exclude and tease Android users, Apple stands to benefit. With that in mind, it makes sense that iMessage would be designed to exclude Android users.
    br
    p Now it’s going to get a little philosophical. Do marketers have an obligation to society? Is it their responsibility to consider the negative effects of their marketing? Anyone could answer that with their own opinion, but if you ask me, no. They’re trying to make money, they’re going to do what they can legally do. So if it’s not the marketer’s responsibility to take society into account, it becomes society’s responsibility to take marketing into account. It’s more than billboards and sponsored posts on Instagram. Marketing infects the way we perceive the world and interact with each other.
  .columns.is-flex.pt-5.mx-0is-mobile
    .column.prev-button
      a(href="imessage.pug") <i class="fas fa-arrow-left"></i> Previous 
    .column.next-button
      a(href="significance.pug") Next <i class="fas fa-arrow-right"></i>
