extends templates/basicPage.pug

block prepend header
  - const page = "Quiz";

block append meta
  meta(name="description", content="Take this miniquiz to test your cyberostracism knowledge!")

block page
  .quiz-page
    #quiz-container

block append morescripts
  script(src='https://unpkg.com/react@17/umd/react.development.js') 
  // replace "react.development.js" with "react.production.min.js" on deploy
  script(src='https://unpkg.com/react-dom@17/umd/react-dom.development.js')
  script(src='src/react.js')
