extends templates/basicPage.pug

block prepend header
  - let page = "Resources"
  
block page 
  .page-container.has-background-light.pb-4
    p.title.has-text-weight-bold.has-text-dark.py-5.is-size-1.my-0.is-size-2-mobile #{page}
    p This site is meant to be used as an educational tool, in and outside of the classroom. Please feel free to print, copy, or distribute any of the materials below. If you are an educator, please contact me for the answer key password.
    img.right-image(src="images/resources.svg", alt="Student with teacher")
    .resource-buttons
      a.green.is-size-4.mt-0(href="quiz.pug") #[strong TAKE THE QUIZ!]
      a(href="images/webquest.pdf", target="_blank") #[strong Webquest PDF] 
      a(href="images/webquest ANSWER KEY.pdf", target="_blank") #[strong Webquest Answer Key]
      a(href="images/infographic.pdf", target="_blank")  #[strong Infographic]
      
    
