extends templates/learn-nav.pug

block prepend header
  - let header = "Significance"

block append meta
  meta(name="description", content="This is a complicated problem with a simple solution: Be nice to all bubbles.")

append thesis
  p.title.has-text-weight-bold.py-5.is-size-1.my-0.is-size-2-mobile #{header}
  section 
    p How are these concepts and facts interacting with each other? You can probably see it yourself, but to be clear:
    br
    img.right-image.px-3(src="images/significance.svg", alt="Man fitting puzzle pieces together")
    p iMessage group chats, by design, cyberostracize Android users. This cyberostracism has the most profound effect on teenagers, due to a rapid increase in phone ownership and a heightened social sensitivity. The exclusion also has the effect of marketing iPhones, by making Android devices seem undesirable.
    br
    p #[strong So what can you do about it?] We can’t exactly march into Apple's headquarters and demand that they make all the bubbles blue. Luckily, if you’ve gotten this far, you’re already a part of the solution, because you’re aware of what’s going on. From here, make sure that you…
    br
    p #[strong Remember:]
    ul.list
      li Marketers want to influence you, both overtly and otherwise
      li Small actions can affect people in big ways
      br
    p #[strong Take action to:] 
    ul.list
      li Educate others
      li Use third-party chatting apps (Instagram, Snapchat, GroupMe, Facebook Messenger, etc)
      li Let people in the group chat, it's just a green bubble
  .columns.is-flex.pt-5.mx-0.is-mobile
    .column.prev-button
      a(href="marketing.pug") <i class="fas fa-arrow-left"></i> Previous 
    .column.next-button
      a(href="quiz.pug") Test Your Knowledge!
